@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("https://santawishlist.azurewebsites.net/img/background.png");
  background-size: 100%;
}

h1 {
  text-align: center;
  color: rgb(10, 10, 10);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 400%;
  color: #ffffff;
  background-color: #de2f32;
  border: 6px solid rgb(243, 210, 210);
  border-radius: 10px;
  font-size: 40px;
  margin: 10px 5px;
  text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

button {
  font-size: 12px;
  margin: 5px 10px 5px 10px;
  padding: 10px 35px;
  color: #ffffff;
  background-color: #de2f32;
  border: 1px solid rgb(243, 234, 234);
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: rgb(121, 118, 118);
  color: #ffffff;
  cursor: pointer;
}
div {
  text-align: left;
}

a,
.btn-link {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.content {
  padding-top: 1.1rem;
}

.valid.modified:not([type="checkbox"]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
